body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: auto;
}

.accordion-button {
    font-weight: bold;
}

#formMessage {
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}